<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Bible</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-------------- Nav Start ---------->
    <nav class="flex-div">
        
        <div class="nav-left flex-div">
            <img src="images/menu.png"  class="menu-icon">
            <img src="images/videoBible.png"  class="logo">
        </div>
        
        <div class="nav-middle flex-div">
           <div class="search-box flex-div">
            <input type="text" placeholder="Search">
            <img src="images/search.png" alt="">
           </div>
           <img src="images/voice-search.png" class="mic-icon">
        </div>
        
        <div class="nav-right flex-div">
            <img src="images/upload.png" alt="">
            <img src="images/more.png" alt=""> 
            <img src="images/notification.png" alt="">
            <img src="images/Jack.png" alt="" class="user-icon">
        </div>
    </nav>
         <!--------------------- Nav End ------------------------------>
         
         
         <!--------------------- start------------------------------>

         <div class="container play-container">
             <div class="row">
                
                <div class="play-video">
                    <video controls autoplay>
                        <source src="images/video.mp4" type="video/mp4">
                    </video>
                    <div class="tags">
                        <a href="">#Heaven Arena</a>
                        <a href="">#Heaven Bosuo</a>
                        <a href="">#Divine Hour</a>
                    </div>
                    <h3>THE TONQUE OF THE RIGHTEOUS</h3>
                    <div class="play-video-info">
                        <p>1.2m Views &bull; 3hours ago</p>
                        <div>
                            <a href=""><img src="images/like.png">12k</a>
                            <a href=""><img src="images/dislike.png">1</a>
                            <a href=""><img src="images/share.png">Share</a>
                            <a href=""><img src="images/save.png">Save</a>
                            </div>
                    </div>
                <hr>

                   <div class="publisher">
                      <img src="images/Jack.png">
                      <div>
                        <p>Prophet Francis Kwateng</p>
                          <span>12m subscribers</span>
                      </div>
                      <button type="button">Subscribe</button>
                   </div>
                    <div class="video-discription">
                           <p>The Channel That  Gets You  Closer to God</p>
                           <p>Subscribe and be bless with the True Gosple Of Christ From Prophet Francis Kwateng</p>
                           <hr>
                           <h4>134k Comments</h4>

                           <div class="add-comment">
                            <img src="images/Jack.png">
                            <input type="text"  placeholder=" Write Comments...">
                           </div>
                             <div class="old-comments">
                                <img src="images/Jack.png">
                                <div>
                                    <h3>Jack Kintey <span>2days ago</span></h3>
                                        <p>Great message from a true man of God. God Bless you Prophet</p>

                                        <div class="comment-action">
                                            <img src="images/like.png">
                                            <span>224</span>
                                            <img src="images/dislike.png">
                                            <span>2</span>
                                            <span>Reply</span>
                                            <a href="">All Replies</a>
                                        </div>
                                        
                                </div>
                             </div>
                             <div class="old-comments">
                                <img src="images/Jack.png">
                                <div>
                                    <h3>Jack Kintey <span>2days ago</span></h3>
                                        <p>Great message from a true man of God. God Bless you Prophet</p>

                                        <div class="comment-action">
                                            <img src="images/like.png">
                                            <span>224</span>
                                            <img src="images/dislike.png">
                                            <span>2</span>
                                            <span>Reply</span>
                                            <a href="">All Replies</a>
                                        </div>
                                        
                                </div>
                             </div>
                             <div class="old-comments">
                                <img src="images/Jack.png">
                                <div>
                                    <h3>Jack Kintey <span>2days ago</span></h3>
                                        <p>Great message from a true man of God. God Bless you Prophet</p>

                                        <div class="comment-action">
                                            <img src="images/like.png">
                                            <span>224</span>
                                            <img src="images/dislike.png">
                                            <span>2</span>
                                            <span>Reply</span>
                                            <a href="">All Replies</a>
                                        </div>
                                        
                                </div>
                             </div>
                     </div>

                </div>
                  
                
                
                
                <div class="right-sidebar">
                    
                    <div class="side-video-list">
                       <a href="" class="small-thumbnail"><img src="images/thumbnail1.png"></a> 
                        <div class="video-info">
                            <a href="">Spiritual Growth</a>
                            <p>Prophet Francis Kwateng</p>
                            <p>1.5m Views &bull; 2hours</p>
                        </div>
                    </div>
                    <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail2.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail3.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail4.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail5.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail6.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail7.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                     <div class="side-video-list">
                        <a href="" class="small-thumbnail"><img src="images/thumbnail8.png"></a> 
                         <div class="video-info">
                             <a href="">Spiritual Growth</a>
                             <p>Prophet Francis Kwateng</p>
                             <p>1.5m Views &bull; 2hours</p>
                         </div>
                     </div>
                </div>
                
             
            </div>
         </div>
    
    
    
    
    
    
    
    
    
    
    <script src="js/main.js"></script>
</body>
</html>